<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizBandeira">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionOne"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionTwo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionThree"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionFour"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionFive"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionSix"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionSeven"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionEight"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionNine"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QuestionTen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RankingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>